<html>
<head>
    <title>链家房源信息</title>
    <style>
        table {
            border-collapse: collapse;
        }

        table, td {
            border: 1px solid #000;
            white-space: nowrap;
        }
    </style>

    <SCRIPT language=javascript>
        function communitySelect(sobj) {
            var docurl = sobj.options[sobj.selectedIndex].value;
            if (docurl != "") {
                window.location.href = docurl
            }
        }
    </SCRIPT>
</head>
<body>

<h2>小区：
    <select onchange=communitySelect(this) name="select">
        {% if communitys %}
            <tr>
                {% for community in communitys %}
                    <option value="/xiaoqu/{{ community }}">{{ community }}</option>
                {% endfor %}
            </tr>
        {% endif %}
    </select>
</h2>

{% import 'table.tmpl' as tt %}

{% for data in datas %}
    <h2>{{ data[0] }}, 共{{ data[2]|length }}条</h2>

    {{ tt.tabletpl(data[1], data[2]) }}
{% endfor %}


</body>
</html>
