
{% macro tabletpl(description, rows) -%}
    <table border="1">
        {% if description %}
            <tr>
                {% for row in description %}
                    <th>{{ row[0] }}</th>
                {% endfor %}
            </tr>
        {% endif %}

        {% if rows %}
            {% for row in rows %}
                <tr>
                    {% for item in row %}
                        {% if item is string and item is startswith('http') %}
                            <td> <a href={{ item }} target="_blank">go...</a> </td>
                        {% else %}
                            <td> {{ item }} </td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        {% endif %}

    </table>
{%- endmacro %}